<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Sample login page</title>
    </head>
    <body>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Login with cauth</h3>
            </div>
            <h5>${message}</h5>
            <div class="panel-body">
                <form method="post" action="/auth/login/" target="_top">
                    <div>
                        <label for="username">Username</label>
                        <input name="username" id="username" type="text" value="" placeholder="Username" required autofocus>
                    </div>
                    <div>
                        <label for="username">Password</label>
                        <input name="password" id="password" type="password" placeholder="Password" required>
                    </div>
                    <input type="hidden" name="back" value="${back}">

                    <button type="submit">Log in</button>
                </form>
            </div>
        </div>
        Or <a href='/auth/login/github?back=${back}' target="_top">Login via Github</a>
    </body>
</html>
